.storyText {
  font-family: 'Roboto Mono', Monospace;
  color: #B8CDF8;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.accept {
  font-family: 'Roboto Mono', Monospace;
  background-color: #637074;
  border: none;
  color: #BDD4E7;
  padding: 10px 12px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}
